nav {
    a {
        transition: color 0.3s, font-weight 0.3s;
        color: var(--color-teal);

        &.active {
            color: var(--color-cream);
            font-weight: 600;
        }

        &:hover {
            color: var(--color-teal);
        }
    }
}

h2 {
    color: var(--color-blush);
}

p {
    color: var(--color-blush);
    opacity: 0.7;
}